practicesoap/src/main/mule/practicesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="df834b55-bcda-4485-970a-fef0fda45573" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="27e27555-fcfb-4c1e-af7e-44c28ac89c31" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="practicesoapFlow" doc:id="00550d1a-a493-4513-9e04-51ad14475af8" >
		<http:listener doc:name="Listener" doc:id="8874f2b1-3120-44b4-a018-dfe9f988657b" config-ref="HTTP_Listener_config" path="/soap1"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="da74c15f-7827-40c6-8475-ed0f3565d150" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="ee1abafa-b353-4526-a425-2ac05347971d" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="d2f7b4a0-9479-4d07-92e1-137626826aa1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#subtract: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:id="dc39807f-8739-4d53-83ba-d322c233d768" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<logger level="INFO" doc:name="Logger" doc:id="43ba3385-4857-438c-936d-efbd0b40d684" message="#[payload]"/>
	</flow>
</mule>
